/* Your Website Styles */

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;}

h1 {font-family: 'Poiret One', cursive;}
h3 {font-family: 'Poiret One', cursive;}
p {font-family: 'Lustria', serif;}